<div class="row py-3 tweet-input">
  <div class="col col-12">
    <input [(ngModel)]="userInput" type="text" placeholder="What's happening" />
  </div>
  <div class="col-12 tweet-input__buttons">
    <div>
      <i class="bi bi-card-image text-primary"></i>
      <i class="bi bi-filetype-gif text-primary"></i>
      <i class="bi bi-bar-chart-line-fill text-primary"></i>
    </div>
    <a class="btn btn-primary btn-rounded text-white bg-primary rounded-5 px-4" (click)="submit()">Tweet</a>
  </div>
</div>
